<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Paragraphs</title>
    <!-- Aplicando CSS Interno -->
    <style>
      body {
        max-width: 450px;
        min-width: 20px;

        border: 3px solid #0088dd ;
        margin: 10px;
        padding: 30px;
        
      }
    </style>

    <!-- Aplicando CSS Externo -->
    <link rel="stylesheet" href="/" />

    <link
      rel="stylesheet"
      href="/02-Paragraphs/public/styles/min-height-max-height.css"
    />

    <link rel="stylesheet" href="/02-Paragraphs/public/styles/overflow.css" />
  </head>
  <body>
    <!--  OCULTANDO TEXTO, CRIANDO SCROLL USANDO OVERFLOW -->
    <h2>fender stratocaster</h2>
    <h3>Texto oculto e scroll oculto</h3>
    <!-- Paragrafo -->
    <p class="one">
      Paragrafo consiste em uma ou mais linhas<br />
      the fender stratocaster of "strat" is one of the most popular eletric
      guitars of all time ...

      <br />the fender stratocaster of "strat" is one of the most popular
      eletric guitars of all time ...<br />

      the fender stratocaster of "strat" is one of the most popular eletric
      guitars of all time ... the fender stratocaster of "strat" is one of the
      most popular eletric guitars of all time ...
    </p>

    <h2>fender mustang</h2>
    <h3>texto com scroll</h3>

    <p class="two">
      Por padrao um navegador exibira cada paragrafos em uma nova linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ... Por padrao um navegador exibira cada paragrafos em uma nova
      linha<br />
      the fender mustang was introduced in 1964 as th masis of major redsign of
      fender´s ...
    </p>

    <h2>gibson les paul</h2>
    <h3>texto oculto</h3>

    <p class="tree">
      Com algum espaco entre ele e todos os paragrafos<br />
      the gibson les paul is a solid eletric guitars that was first sold in 1952
      ... the gibson les paul is a solid eletric guitars that was first sold in
      1952 ... the gibson les paul is a solid eletric guitars that was first
      sold in 1952 ... the gibson les paul is a solid eletric guitars that was
      first sold in 1952 ... FEFEF
    </p>
  </body>
</html>
