<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Unordered Lists</title>

    <link
      rel="stylesheet"
      href="/05-Lists Order  Unorder/public/style/list-style.css"
    />
  </head>
  <body>
    <!-- Lista nao ordenadas sao criadas com elemento <ul> -->
    <!-- Cada item da lista e colocado entre uma tag <li> -->
    <!-- Podemos usar CSS para especificar o tipo de numeração -->
    <h1>Aplicando CSS</h1>
    <h2 class="">Lista Nao Ordenadas</h2><hr>
    
    <h2>outside</h2>
    <ul class="one">
      <li>Segunda, Terca, Quarta, Quinta, Sexta</li>
      <li>Terça</li>
      <li>Quarta</li>
      <li>Quinta</li>
      <li>Sexta</li>
      <li>Sabado</li>
      <li>Domingo</li>
    </ul>

    <h2>inside</h2>
    <ul class="two">
      <li>Segunda, Terca, Quarta, Quinta, Sexta</li>
      <li>Terça</li>
      <li>Quarta</li>
      <li>Quinta</li>
      <li>Sexta</li>
      <li>Sabado</li>
      <li>Domingo</li>
    </ul>
  </body>
</html>
