<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Ordered Lists</title>

    <link rel="stylesheet" href="/05-Lists Order  Unorder/public/style/list-style-type.css">
  </head>
  <body>
    <!-- Lista Ordenadas sao criadas com o elemento <ol> -->
    <!-- Cada item da lista e colocado entre uma tag <li> -->
    <!-- Podemos usar CSS para especificar o tipo de numeração -->
    <h1>Aplicando CSS</h1>
    <h2>Lista Ordenadas</h2>
    <ol>
      <li>Segunda</li>
      <li>Terça</li>
      <li>Quarta</li>
      <li>Quinta</li>
      <li>Sexta</li>
      <li>Sabado</li>
      <li>Domingo</li>
    </ol>
  </body>
</html>
