<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Background Images</title>

    <style>
      body {
        background-image: url("https://image.freepik.com/fotos-gratis/textura-preta-com-parede-de-tijolos-para-banner-site-ou-plano-de-fundo_35257-308.jpg");
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="background-body">
      <h1>Planting Guide</h1>
      <h2>Magnolia</h2>
      <p>
        Some magnolias, such as <i>Magnolia stellata</i> and
        <i>Magnolia soulangeana</i>, flower quite early in the spring before the
        leaves open..
      </p>
    </div>
  </body>
</html>
