<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Images Size</title>

    <link rel="stylesheet" href="/00-Images Control /public/styles/images-size.css">
  <body>
    <div class="header">
      <h1>Controlando o Tamanho das Imagens com <span>CSS</span></h1>
    </div>

    <div class="container">
        <h2 class="large_h2">500PX</h2>
      <img
        src="/00-Images Control /public/images/12_col.gif"
        alt="12_col"
        class="large"
      />
      <h2 class="medium_h2">250PX</h2>
      <img
        src="/00-Images Control /public/images/12_col.gif"
        alt="12_col"
        class="medium"
      />
      <h2 class="small_h2">100PX</h2>
      <img
        src="/00-Images Control /public/images/12_col.gif"
        alt="12_col"
        class="small"
      />
    </div>

    <footer><p>&copy;Copyright 2020: Douglas</p></footer>
  </body>
</html>