<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Links Block</title>
  </head>
  <body>
    <a href="introduction">
      <article>
        <figure>
          <img src="" alt="Bok Choi" />
          <figcaption>Bok Choi</figcaption>
        </figure>
      </article>

      <hgroup>
        <h2>Japanese Vegetarian</h2>
        <h3>Five week</h3>
      </hgroup>
      <p>A five week introduction to traditional Japanese.</p>
    </a>
  </body>
</html>
