/* LARGURA DE BORDA */

/* Largura da borda e Largura da caixa */
[class]{
    border: solid black;
    border-width: 2px ;

    width: 20%;
}

.two{
    border-width: thick;
}

.tree{
    border-width: 1px 4px 12px 4px;
}



