<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Aligning Images</title>

    <link
      rel="stylesheet"
      href="/00-Images Control /public/styles/aligning-images.css"
    />
  </head>
  <body>
      <h1>Alinhando Imagens com CSS</h1>
    <p>
      <img
        src="/00-Images Control /public/images/940px-Magnolia_stellata_RJB.jpg"
        alt="Magnolia"
        class="align-left medium"
      /><b><i>Magnolia</i></b> is a large genus that contains over 200
      flowering plant species...
      is a large genus that contains over 200
      flowering plant species...
      is a large genus that contains over 200
      flowering plant species...
      is a large genus that contains over 200
      flowering plant species...
      is a large genus that contains over 200
      flowering plant species...
    </p>

    <p>
      <img
        src="/00-Images Control /public/images/940px-Magnolia_stellata_RJB.jpg"
        alt="Magnolia"
        class="align-right medium"
      />
      Some magnolias, such as <i>Magnolia stellata</i> and
      <i>Magnolia soulangeana</i>, flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
      flower quite early in the spring before the
      leaves open..
    </p>

    <p>
        <img
          src="/00-Images Control /public/images/940px-Magnolia_stellata_RJB.jpg"
          alt="Magnolia"
          class="align-center medium"
        /><b><i>Magnolia</i></b> is a large genus that contains over 200
        flowering plant species...
        is a large genus that contains over 200
        flowering plant species...
        is a large genus that contains over 200
        flowering plant species...
        is a large genus that contains over 200
        flowering plant species...
        is a large genus that contains over 200
        flowering plant species...
      </p>
  
  </body>
</html>
