<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Background Position</title>

    <style>
        body{
            
            background-image: url("https://i.pinimg.com/originals/06/39/b5/0639b5962bd0e81fd70d9cc5910e46f0.jpg");
            background-repeat: no-repeat;         
            background-position:  right center;  
            background-color: antiquewhite;
        }
        p{
            width: 400px;
        }

    </style>
</head>
<body>
    
    <p><i>Magnolia</i></b> is a large genus that contains over 200
        flowering plant species...</p>
</body>
</html>