<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Background Repeat</title>
  </head>

  <style>
    body {
      background-image: url("https://docs.uft.edu.br/share/proxy/alfresco-noauth/api/internal/shared/node/72Bf8GlMQDCvGAfG5r3pkA/content/ui-bg_gloss-wave_50_6eac2c_500x100.png");
      background-repeat: repeat-x;
    }

    div {
      position: relative;
      top: 90px;
    }
  </style>

  <body>
    <div class="background-body">
      <h1>Planting Guide</h1>
      <h2>Magnolia</h2>
      <p>
        Some magnolias, such as <i>Magnolia stellata</i> and
        <i>Magnolia soulangeana</i>, flower quite early in the spring before the
        leaves open..
      </p>
    </div>
  </body>
</html>
