<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Layout Image</title>

    <link
      rel="stylesheet"
      href="/00-Images Control /public/styles/layout-image.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <img
          src="https://lh3.googleusercontent.com/proxy/iV9ewI6a6L3C7fCpaRglicadGAxhntQ4s7oZZHY68YOFK9oY4zPaxhxqOLxRvK3Xxwbvh1NNFzNkKQMLCQDEYVOWNnVGRptax2jq9MWivhlSQGN7PZsc6JQYTxHoMQ"
          alt=""
          class="logo"
        />
        <p>
          Here is a slection of atique botanical prints held in our collection.
        </p>
        <!-- Fim header -->
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed (1).jpg"
            alt="Hellianthus"
            class="img-1"
          />
          <figcaption>Hellianthus</figcaption>
        </figure>
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed.jpg"
            alt=""
            class="img-1"
          />
          <figcaption>Passiflora</figcaption>
        </figure>
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed (4).jpg"
            alt=""
            class="img-1"
          />
          <figcaption>Nyctocalos</figcaption>
        </figure>
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed (3).jpg"
            alt=""
            class="img-1"
          />
          <figcaption>Polianthes</figcaption>
        </figure>
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed (5).jpg"
            alt=""
            class="img-1"
          />
          <figcaption>Ficus</figcaption>
        </figure>
      </div>
      <!--  -->
      <div class="entry">
        <figure>
          <img
            src="/00-Images Control /public/images/page-landing img/unnamed (2).jpg"
            alt=""
            class="img-1"
          />
          <figcaption>Dendrobium</figcaption>
        </figure>
      </div>

      <!-- Fim wrapper -->
    </div>
  </body>
</html>
