/* ESTILIZANDO BOTOES DE ENVIAR */

/* Entrada da animação  */
@keyframes move {
  from {
    transform: translateY();
  }
  to {
    transform: translateX(20px);
  }
}

/*  Duração e Direção de animação */
form {
  margin-top: 50px;
  margin-left: 20px;

  animation: move 4s infinite;
  animation-direction: alternate;
}

form:hover {
  animation: none;
}

fieldset {
  width: 350px;

  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
}

fieldset:hover {
  border-color: bisque;
}

legend {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #efefef;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

legend:hover {
  background-color: bisque;
}

p {
  letter-spacing: 1px;
  height: 1em;
}

input {
  height: 20px;
  width: 11em;

  text-transform: capitalize;

  border: 1px solid;
  border-radius: 5px;
}

.one {
  margin-left: 5px;
}
.two {
  margin-left: 11px;
}

.one:hover {
  border-color: bisque;
}

.two:hover {
  border-color: bisque;
}

.tree {
  width: 30%;
  height: 2.1em;
  margin: 20px;
  margin-bottom: 5px;
  border: 2px solid #dcdcdc;

  text-transform: uppercase;
  text-shadow: 0px 1px 1px #ffffff;
}

.tree:hover {
  border: 2px solid bisque;
  background-color: bisque;
}

div {
  text-align: right;
}
