<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Basic Table Structure</title>
    <link rel="stylesheet" href="/10-Tables/public/styles/style-table.css" />
  </head>
  <body>
    <!-- Estrutura básica de uma tabela usando elemento <table> -->
    <!-- a tag <tr> indica o inicio de cada linha -->
    <!-- a tag <td> indica dados de uma celula -->
    <table><hr>
      <h2>tabela simples</h2>
      <hr />
      <tr class="one">
        <!-- Inicio de linha 1 -->

        <td>15</td>
        <td>15</td>
        <td>30</td>
      </tr>
      <!-- Fim de linha 1 -->
      <tr class="two">
        <td>45</td>
        <td>60</td>
        <td>45</td>
      </tr>
      <tr class="tree">
        <td>55</td>
        <td>88</td>
        <td>15</td>
      </tr>
    </table>
    <hr />
  </body>
</html>
