<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Section</title>
</head>
<body>
    <div>
    <section class="popular-recipes">
        <h2>Popular Recipes</h2>
        <a href="">Yakitori</a>
        <a href="">Tsukune</a>
      </section>
    </div>

    <div>
      <section class="contact-details">

        <h2>Contact</h2>
        <p>
          Yoko 's Kitchen<br />
          27 Redchurch Street <br />
          Shoreditch <br />
          London E2 7DP
        </p>
      </section>
    </div>
</body>
</html>