<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Open New Windows</title>

    <style>
      body {
        max-width: 30%;
        min-width: 10px;

        margin: 30px;
        padding: 20px;
        border: 2px solid red;
        border-radius: 10px;
      }
    </style>

    <!-- Aplicando CSS Externo -->
    <link rel="stylesheet" href="/08-Links/public/styles/link_visited.css">
  </head>
  <body>
    <!-- Usamos o atributo target como o valor _blank para abrir um link em uma nova janela -->
    <a href="http://www.google.com" target="_blank">Abrir nova janela</a>
  </body>
</html>
