<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document link Top Page</title>

<!-- Aplicando CSS Interno -->
    <style>
        body {
          max-width: 30%;
          min-width: 10px;
  
          margin: 30px;
          padding: 20px;
          border: 2px solid red;
          border-radius: 10px;
        }
      </style>
  
      <!-- Aplicando CSS Externo -->
    <link rel="stylesheet" href="/08-Links/public/styles/link_visited.css">
</head>
<body>  
    <!-- Link para topo da pagina -->
    <h1 id="top_page">Titulo Principal</h1> 
       <h2>Lista de Links</h2>
        
        <a href="#Pagina_Um">Pagina Um</a><br />
        <a href="#Pagina_Dois">Pagina Dois</a><br />

        <h2 id="Pagina_Um"></h2> Pagina Um</h2>

        <p><a href="#top_page">Top</a></p>
</body>
</html>