<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Images</title>

    <link
      rel="stylesheet"
      href="/HTML & CSS/HTML 5/Exemplo/Teste com imagens/public/styles/"
    />
  </head>
  <body>
    <div>
      <tr>
        <td>
          <img
            src="/HTML & CSS/HTML 5/Exemplo/Teste com imagens/salinas-maceio-all-inclusive.jpg"
            alt=""
            width="200"
            height="200"
          />
        </td>

        <td class="description">
          The Rhoads pianno is electro-mechanical pianno, invented by Harold
          Rhoads during the fifties and later
        </td>

        <td>$1400</td>
      </tr>
    </div>

    <!-- <figure>
      <img src="/facebook-logo.png" alt="Logo Facebook" /><br />
      <p><figcaption>Logotipo do Facebook</figcaption></p>
    </figure>-->
  </body>
</html>
