
<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Inline Element</title>
  </head>
  <body>
    <div class="inline">
      <p>
        <em
          >Alguns elementos sempre parecerão continuar na mesma linha que a dos
          seus elementos adjacentes.</em
        ><br />
        <br />
        Esses elementos sao conhecido como elementos<b> em linhas.</b>
        <br />
        Esse elementos sao &lt;a&gt, &lt;b&gt, &lt;em&gt, &lt;img&gt
      </p>
    </div>
  </body>
</html>
