/* Reset para padronizar o visual entre os navegadores */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* Estilos para a div */
div {
  width: max-content;
  height: max-content;
  border: 1px solid;
  margin: 10px;
  line-height: 1.4em;
}

/* Estilos para os itens dentro da div */
div > * {
  margin: 10px;
}
