<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Float</title>

    <link rel="stylesheet" href="/*0-Layouts/public/styles/float.css" />
  </head>
  <body style="background-color: ">
    <!--  -->
    <h1>The Evoluation of the Bicycle</h1>

    <blockquote>
      "Life is like riding a bicycle. To Keep your balance you must keep
      moving." - Albert Einsten
    </blockquote>
    <div class="float-1">
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him
        get around the royal Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p>
        In 1917 Baron von Drais invented a walking machine that would help him
        get around the royal Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <p>
        In 1917 Baron von Drais invented a walking machine that would help him
        get around the royal Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>

    <div class="float-2">
    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around
    </p>

    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around the royal Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around
    </p>

    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around the royal Duis aute irure dolor in reprehenderit in voluptate velit
      esse cillum dolore eu fugiat nulla pariatur.
    </p>

    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around
    </p>

    <p>
      In 1917 Baron von Drais invented a walking machine that would help him get
      around
    </p>
    </div>

    <div class="float-3">
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him get
        around
      </p>
  
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him get
        around the royal Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
  
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him get
        around
      </p>
  
      <p class="clear">
        In 1917 Baron von Drais invented a walking machine that would help him get
        around the royal Duis aute irure dolor in reprehenderit in voluptate velit
        esse cillum dolore eu fugiat nulla pariatur.
      </p>
  
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him get
        around
      </p>
  
      <p>
        In 1917 Baron von Drais invented a walking machine that would help him get
        around
      </p>
      </div>

  </body>
</html>
