<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Float Problem And Solution</title>

    <link
      rel="stylesheet"
      href="/00-Layouts/public/styles/float-problem-solution.css"
    />
  </head>
  <body>
    <div class="float-3">
      <p>
        1
        In 1917 Baron von Drais invented a walking machine that would help him
        get around
      </p>

      <p>
        2
        In 1917 Baron von Drais invented a walking machine that would help him
        get around the royal Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <p>
        3
        In 1917 Baron von Drais invented a walking machine that would help him
        get around
      </p>

      <p class="p-4">
        4
        In 1917 Baron von Drais invented a walking machine that would help him
        get around the royal Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>

      <p>
        5
        In 1917 Baron von Drais invented a walking machine that would help him
        get around
      </p>

      <p>
        6
        In 1917 Baron von Drais invented a walking machine that would help him
        get around
      </p>
    </div>
  </body>
</html>
