body {
  margin: 10px;
  padding: 10px;
  border: 1px;

  background-color: rgb(204, 175, 59);
}

.page-landing {
  
  height: 578px;
  border: 1px solid;

  background-color: bisque;
}

.header {
  width: 600px;
  height: 200px;
  border: 1px solid;
}

.nav {
  margin: 10px;
  width: 100%;
  border: 1px solid;

  position: relative;
}
