<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Hello</title>

    <style>
      :root {
        font-size: 70%;
      }
      * {
        margin: 0px;
        padding: 0px;
      }
    </style>

    <link
      rel="stylesheet"
      href="/02-Paragraphs/public/styles/border-margin-padding.css"
    />

    <link rel="stylesheet" href="/02-Paragraphs/public/styles/border-radius.css">
  </head>
  <body>
    <!-- ESPAÇO EM BRANCO E MARGEM VERTICAL -->
    <h1>
      com margem e <br />
      preenchimento
    </h1>

    <div class="one">
      <h2>moog</h2>
      <p class="on">
        Moog synthesisers were created by Dr. Robert Boog under the company name
        Moog Music Popular models include the Moog Modular
      </p>
    </div>

    <div class="two">
      <h2>arp</h2>
      <p class="tw">
        Arp instruments inc. was set up by Alan Peralman, and was the main
        competitor for Moog during the 1970´x Popular models
      </p>
    </div>

    <h1>
      sem margem e <br />
      preenchimento
    </h1>
    <div class="tree">
      <h2>moog</h2>
      <p class="tr">
        Moog synthesisers were created by Dr. Robert Boog under the company name
        Moog Music Popular models include the Moog Modular
      </p>
    </div>

    <div class="four">
      <h2>arp</h2>
      <p class="fo">
        Arp instruments inc. was set up by Alan Peralman, and was the main
        competitor for Moog during the 1970´x Popular models
      </p>
    </div>

    <div class="five">
      <h2 class="fiv">arp</h2>
      <p class="fi">
        Arp instruments inc. was set up by Alan Peralman, and was the main
        competitor for Moog during the 1970´x Popular models
      </p>
    </div>
    
  </body>
</html>
