<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Title</title>

    <!-- Aplicando CSS Interno -->
    <style>
      body {
        max-width: 100%;
        min-width: 100px;

        margin: 30px;
        padding: 20px;
        border: 2px solid red;
        border-radius: 10px;
      }
    </style>

    <!-- Aplicando CSS Externo -->
    <link
      rel="stylesheet"
      href="/01-Title/public/styles/first-letter_first-line.css"
    />
  </head>
  <body>
    <!-- Titulos -->
    <div class="titulos">
      <h1>Titulo Principal H1</h1>
      <h2>Subtitulo H2</h2>
      <h3>Titulo H3</h3>
      <h4>Titulo h4</h4>
      <h5>Titulo h5</h5>
      <h6>Titulo h6</h6>
    </div>
    <hr />

    <div class="shadow">
      <p class="p1">teste</p>
      <p class="p2">TESTE</p>
      <p class="p3">teste</p>
      <p class="p4">teste</p>
      <p class="p5">teste</p>
      <a href="index.html">teste</a>
    </div>

    <p class="p6">
      seja bem vindo<br />
      douglas
    </p>

    <!-- Script sem uso -->
    <script src=""></script>
  </body>
</html>
