<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document Images</title>

    <link
      rel="stylesheet"
      href="/HTML & CSS/HTML 5/HTML Nivel [2]/04_Images Add/public/styles/styles-imagens.css"
    />
  </head>

  <body>
    <div class="container">
      <h1>Adicionando Imagens</h1>

      <div class="before__p">
        <h4>1:Antes de um paragrafo</h4>
        <img
          src="/HTML & CSS/HTML 5/HTML Nivel [2]/04_Images Add/public/images/dg_noimage_bird.png"
          alt=""
        />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nemo.
          Hic asperiores voluptatibus, explicabo iusto eveniet magni nobis.
          Repellendus provident minus maxime incidunt temporibus consectetur
          iste cum, distinctio neque aspernatur!
        </p>
      </div>

      <div class="start__p">
        <h4>2: No inicio de um paragrafo</h4>
        <p>
          <img
            src="/HTML & CSS/HTML 5/HTML Nivel [2]/04_Images Add/public/images/dg_noimage_bird.png"
            alt=""
          />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquid
          autem veniam officia perspiciatis sunt. Provident nostrum facere
          repudiandae consectetur obcaecati odit architecto neque, porro
          expedita dignissimos illo voluptate ipsam.
        </p>
      </div>

      <div class="mid__p">
        <h4>3: No meio de um paragrafo</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          cupiditate repellat eum quaerat repellendus corrupti tempora magnam
          labore soluta nam laudantium recusandae tempore autem, accusamus,
          itaque voluptatum in est doloribus.
          <img
            src="/HTML & CSS/HTML 5/HTML Nivel [2]/04_Images Add/public/images/dg_noimage_bird.png"
            alt=""
          />
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt numquam
          maiores nobis dolorum facere eaque quod fugiat sed, aliquid saepe
          aspernatur veritatis eius maxime at placeat repudiandae animi omnis
          error.
        </p>
      </div>

      <div class="box__figure">
        <h4>Figura e Legenda</h4>
        <figure class="figure">
          <img
            src="/HTML & CSS/HTML 5/HTML Nivel [2]/04_Images Add/public/images/img-test.png"
            alt=""
          />
          <figcaption>
            Alienigena na cor verde com olhos roxos.
          </figcaption>
        </figure>
      </div>
    </div>
  </body>
</html>
